*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Poppins", sans-serif;
}

body{
  background:#fafafa;
}

.container{
  display:flex;
}

/* SIDEBAR */
.sidebar{
  width:230px;
  background:#fff;
  padding:20px;
  border-right:1px solid #eee;
  height:100vh;
}

.profile{
  display:flex;
  gap:10px;
  margin-bottom:40px;
  align-items:center;
}

.avatar{
  width:45px;
  height:45px;
  border-radius:50%;
  overflow:hidden;
  background:#ccc;
}

.avatar img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.sidebar nav a{
  display:block;
  padding:12px 0;
  color:#333;
  text-decoration:none;
  font-size:14px;
}

.sidebar nav a.active{
  color:#7b3fe4;
  font-weight:600;
}

.logout{
  margin-top:50px;
}

.logout a{
  color:#d33;
  text-decoration:none;
}

/* MAIN */
.main{
  flex:1;
  padding:30px;
}

.main h1{
  margin-bottom:20px;
}

input,textarea{
  width:100%;
  padding:10px;
  border:1px solid #ddd;
  border-radius:8px;
  margin-bottom:15px;
}

.btn-upload{
  padding:10px 20px;
  background:#7b3fe4;
  color:white;
  border:none;
  border-radius:6px;
  cursor:pointer;
}

.mod-card{
  display:flex;
  gap:15px;
  background:white;
  padding:15px;
  border-radius:10px;
  align-items:center;
  margin-top:15px;
}

.mod-thumb{
  width:100px;
  height:100px;
  object-fit:cover;
  border-radius:8px;
}
